head{
    text-transform: capitalize;
}
body{
    margin: 10%;
    font-family: 'Times New Roman', Times, serif;
    background: papayawhip;
    color: rgb(0, 0, 0);
}
p{
    color:aquamarine;

}

h1{
    text-transform: capitalize; 
}
h2{
    text-transform: capitalize; 
}
li{
    text-transform: lowercase;
    color: lightcoral;
}